body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato',sans-serif;
}

nav{
     display:flex;
     justify-content: space-between;
     align-items: center;
      margin: 0px 200px;
}
 .navtitle{
    color: #181818;
    
    font-size: 45px;

    font-weight: 800;
    
 }
 .textcolor{
    color:#FD6E0A;
 }
   nav >ul{
       display: flex;
       align-items: center;
   }
    nav li{
         list-style: none;
         margin-right: 50px;
        
    }
     nav a{
        color:#474747;
        text-decoration: none;
         
     }
     .btn-primary{
        border-radius: 5px;
        background-color: #FD6E0A;
        border: 0px;
        font-size: 20px;
        font-weight: 700;
        color:white;
        padding: 15px 35px;
     }
     .header{
        background: #FFF8F3;
     }
     .banner{
        padding:30px 30px 30px 150px;
        display:flex;
     }
     .banner.profile-picture{
            width:500px
     }