body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato',sans-serif;
}

nav{
     display:flex;
     justify-content: space-between;
     align-items: center;
      margin: 0px 200px;
}
 .navtitle{
    color: #181818;
    
    font-size: 45px;

    font-weight: 800;
    
 }
 .textcolor{
    color:#FD6E0A;
 }
   nav >ul{
       display: flex;
       align-items: center;
   }
    nav li{
         list-style: none;
         margin-right: 50px;
        
    }
     nav a{
        color:#474747;
        text-decoration: none;
         
     }
     .btn-primary{
        border-radius: 5px;
        background-color: #FD6E0A;
        border: 0px;
        font-size: 20px;
        font-weight: 700;
        color:white;
        padding: 15px 35px;
     }
     .header{
        background: #FFF8F3;
         background-image: url(../images/header_bg.png);
         background-repeat: no-repeat;
         background-position: bottom right;
     }
     .banner{
        padding:30px 30px 0px 150px;
        display:flex;
        justify-content: space-between;
     }
     .banner.profile-picture{
            width:500px
     }
     .banner-greetings{
            font-size:45px;
            color:#474747;
            margin-bottom:0;
     }
     .banner-title{
        font-size: 85px;
        font-weight: 700;
        margin-top: 5px;
         margin-bottom: 20px;
     }
      .bannermara{
          margin-bottom: 30px;
          max-width: 500px;
      }
      .about{
            padding: 130px;
            border-radius: 10px;
            background:  #FFF8F3;
             margin:130px 0;


      }
      .section-title{
         color:  #181818;
         text-align: center;
         
         font-size: 35px;
         
         font-weight: 700;
         
      }

      .section-description{
         color:  #757575;
         text-align: center;
         
         font-size: 18px;
         
         font-weight: 400;
         line-height: 30px;
      }
      main{
          max-width: 1140px;
          margin:0  auto;
      }

         main section{
             margin-top: 130px;
         }
      .aboutinfocontainer{
         display:flex;
         justify-content: space-around;
      }
      .aboutinfo{
          text-align:center;
      }
      #what{
              padding:30px 150px;
      }

       .skill-container{
                display:flex;
                gap:24px;
       }
       .skill{
          padding:30px;
           
           border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
       }

       .skill-description{
            
         color:  #757575;
         font-family: Open Sans;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 28px;
       }
       .resume-colum-title{
         color:  #474747;
         
         font-size: 30px;
      
         font-weight: 700;
         
       }
